.cardContainer{
    width: 17rem;
    height: 18rem;
    margin: 1rem 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 3px 3px black;
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 255, 0, 0.527);
}

.cardContainer ul{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
    width:93%;
    height: 100%;
}


.book-img-leido{
    background-color: rgb(0, 162, 255);
    display: flex;
    border-radius: 50%;
    width: fit-content;
    align-self: center;
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
}
.book-img-no-leido{
    background-color: rgba(255, 0, 0, 0.76);
    display: flex;
    border-radius: 50%;
    width: fit-content;
    align-self: center;
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
}
img{
    width: 70px;
    padding: .5rem;
}