.card-container-all{
    width: 20rem;
    height: 25rem;
    margin: 1rem 2rem;
    /* border: 1px solid black; */
    border-radius: .5rem;
    display: flex;
    /* flex-direction: column; */
    background-color: rgba(115, 81, 100, 0.677);
    /* background-color: rgb(55, 8, 8); */
    /* box-shadow:  0px -1px 21px 10px rgba(196, 118, 15, 0.434); */
    box-shadow:  0px -1px 5px 5px rgba(0, 0, 0, 0.434);
    transition: .5s;
    color: rgba(0, 0, 0, 0.848);
}

.card-container-all:hover{
    translate: 0 -.2rem ;
}

.card-container-all h2,
.card-container-all-no-leido h2{
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
}

.ul-info{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    padding-left: 1rem;
    width:93%;
    height: 100%;
}
.card-container-all ul li h4{
    font-size: larger ;
}

.card-container-all ul li h3{
    font-size: 1.6rem;
}

.true_false{
    width: 1rem;
    margin-left: 1rem;
}

.seeMore{
    width: 95%;
    /* height: 1.5rem; */
    box-shadow: 0px 0px 10px 3px rgba(224, 209, 97, 0.496);
    padding: .5rem;
    background-color:rgba(255, 232, 61, 0.499) ;
    border-radius: .2rem;
    border: none;
    cursor: pointer;
    transition: .3s;
    /* color: rgba(255, 248, 248, 0.848); */
}
.seeMore:hover{
    box-shadow:0px 0px 10px 3px rgba(224, 209, 97, 0.732)
}

.card-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.ud-opts{
    display: flex;
    justify-content: center;
    gap: 51%;
    margin-bottom: 1rem;
}

.ud-opts li button{
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.496);
    padding: .5rem;
    border-radius: .2rem;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.ud-opts li button:hover{
    box-shadow: 0px 0px 9px 8px rgba(0, 0, 0, 0.496);
    
}

.edit-btn{
    background-color: rgb(0, 81, 92);
}

.delete-btn{
    background-color: rgba(255, 0, 0, 0.64);
}


