.homeContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 61, 61);
    height: 85vh;
    gap: 2rem;
    background-image: url(../../assets/back1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.title{
    align-self: center;
    margin-top: 1rem;
}
.homeContainerEmpty{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 61, 61);
    min-height: 85vh;
    background-image: url(../../assets/back1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.list{
    display: flex;
}