.headerContainer{
    background-color: #5D737E;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    justify-content: center;
    border-bottom: 2px solid rgba(189, 202, 0, 0.774);
}

.nav ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav ul li input{
    border: none;
    background-color: rgba(0, 0, 0, 0.452);
    width: 17rem;
    height: 4rem;
    padding-left: .4rem;
    border-radius: .2rem;
}
.nav ul li input:focus{
    transform:translateY(-.1rem); 
    transition: all ease-in-out .2s;
    box-shadow: .3rem .3rem rgb(0, 0, 0);
}

.search-btn{
    margin: 1rem;
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.452);
}

.search-btn:hover{
    transform: translatey(-.05rem);
    cursor: pointer;
    box-shadow: .2rem .2rem rgb(0, 0, 0);
    transition: all ease-in-out .3s;
}
