.headerContainer{
    /* background-color: #5D737E; */
    /* background-color: rgb(174, 135, 135); */
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    justify-content: center;
    border-bottom: 2px solid rgb(4, 4, 4);
    /* background-color: rgba(194, 165, 130, 0.747); */
    background-color: rgba(88, 70, 47, 0.747);


}

.nav ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav ul li input{
    border: none;
    background-color: rgba(255, 255, 255, 0.555);
    width: 17rem;
    height: 4rem;
    padding-left: .4rem;
    border-radius: .5rem;
    transition: all ease-in-out .2s;
}
.nav ul li input:focus{
    transform:translateY(-.1rem); 
}

.search-btn{
    margin: 1rem;
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: .2rem;
    background-color: rgba(255, 255, 255, 0.555);
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgba(169, 165, 160, 0.378);
  
    transition: .5s;
}
.add-btn{
    margin: 1rem;
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    background-color:rgba(255, 232, 61, 0.499) ;
    box-shadow: 0px 0px 10px 3px rgba(224, 209, 97, 0.496);
    transition: .5s;
}

.search-btn:hover, .add-btn:hover{
    box-shadow: 0px -1px 10px 3px rgba(24, 19, 1, 0.67);

}

